{% block carAdded %}
    <h1>Car Added</h1>

    <p>A {{carColor}} {{carModel}} from {{carYear}} with registration number {{carRegistrationNumber}} has been added.</p>

    <form method="post" action="/">
        <input type="submit" value="Ok">
    </form>
{% endblock %}
