{% block carCheckedIn %}
  <h1>Car Checked In</h1>

  <p>A car with registration number {{carRegistrationNumber}} has been checked in.</p>

  <form method="post" action="/">
    <input type="submit" value="Ok">
  </form>
{% endblock %}